a {
  color: #7e7c7c;
  outline: none;
}
ul {
  list-style-type: none;
}
ul li {
  display: inline-block;
}
.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.fwc {
  color: white;
}
.marginAuto {
  margin-left: auto;
  margin-right: auto;
}
.pullLeft {
  float: left;
}
.pullRight {
  float: right;
}
.textLeft {
  text-align: left;
}
.textRight {
  text-align: right;
}
.textCenter {
  text-align: center;
}
.container {
  width: 100%;
  font-family: "Microsoft YaHei";
}
/* 头部样式 */
.head-box {
  width: 100%;
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 9999;
}
.head-box .inner-wrap {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 100%;
}
.head-box .logo {
  float: left;
  width: 85px;
  height: 45px;
  overflow: hidden;
  padding: 15px 0;
}
.head-box .logo .logo-index {
  display: inline-block;
}
.head-box .logo img {
  width: 100%;
}
.head-box .account {
  float: right;
  text-align: right;
  width: 45px;
  height: 45px;
  padding: 15px 0;
}
.head-box .account img {
  width: 45px;
  height: 45px;
  cursor: pointer;
}
.head-box .link-item-wrap {
  float: left;
  margin-left: 10px;
  height: 75px;
}
.head-box .link-item-wrap .link-item {
  text-align: center;
  line-height: 75px;
  width: 100px;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.head-box .link-item-wrap .link-item a {
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  color: #fff;
  outline: none;
}
.head-box .link-item-wrap .link-item a:hover {
  color: #ddd;
}
.head-box .link-item-wrap .link-item:hover {
  background: #ccc;
}
.head-box .search-box {
  border-radius: 30px;
  outline: none;
  -moz-box-shadow: 0 0px 6px rgba(255, 255, 255, 0.4) inset, 0 0px 6px rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 0px 6px rgba(255, 255, 255, 0.4) inset, 0 0px 6px rgba(255, 255, 255, 0.4);
  box-shadow: 0 0px 6px rgba(255, 255, 255, 0.4) inset, 0 0px 6px rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.4);
  color: #fff;
  width: 200px;
  height: 35px;
  padding: 0 15px;
  margin: 20px;
}
.head-box .search-box .input-wrap {
  margin-right: 30px;
}
.head-box .search-box .input-wrap input {
  border: 0;
  background-color: transparent;
  width: 170px;
  outline: none;
  height: 19px;
  padding: 8px 0;
  color: #444;
}
.head-box .search-box .input-wrap input:-moz-placeholder {
  color: #fff;
}
.head-box .search-box .input-wrap input:-ms-input-placeholder {
  color: #fff;
}
.head-box .search-box .input-wrap input::-webkit-input-placeholder {
  color: #fff;
}
.head-box .search-box .search-btn {
  width: 30px;
  height: 25px;
  padding: 7px 0 0 0;
  position: relative;
  left: 7px;
}
.head-box .search-box .search-btn button {
  padding: 0;
  width: 100%;
  height: 100%;
  border: 0;
  background: transparent;
  color: #fff;
  outline: none;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.head-box .search-box .search-btn button:hover {
  color: #444;
}
.banner {
  width: 100%;
  background: #fff url("../img/bg/bg-03.jpg") no-repeat center center;
  padding-top: 75px;
  background-size: 100%;
}
.banner .inner-wrap {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 490px;
  overflow: hidden;
  position: relative;
}
.banner .inner-wrap .left-content {
  position: absolute;
  top: 50%;
  left: 0;
}
.banner .inner-wrap .left-content .title-content {
  font-size: 25px;
}
.banner .inner-wrap .left-content .text-decoration {
  height: 1px;
  width: 80px;
  background: url("../img/text-decoration.png") no-repeat left center;
}
.banner .inner-wrap .left-content .player {
  padding-top: 10px;
  padding-left: 2px;
}
.banner .inner-wrap .left-content .player i {
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}
.banner .inner-wrap .left-content .player i:hover {
  color: #cccccc;
}
#player-audio {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 1;
  padding: 5px;
}
.body {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
.body .sort-box {
  height: 60px;
  line-height: 60px;
}
.body .sort-box .sort-by {
  color: #444;
}
.body .sort-box .classify-by .col-diviver {
  display: inline-block;
  height: 10px;
  width: 2px;
  margin: 0 5px;
  background: #a6a5a5;
}
.body .sort-box .classify-by .link-item a {
  outline: none;
  position: relative;
  color: #7e7c7c;
}
.body .sort-box .classify-by .link-item a:hover {
  color: #eb7a26;
}
.body .topic-box .list-box .grid-item {
  overflow: hidden;
  width: 25%;
}
.body .topic-box .list-box .grid-item .link-item {
  position: relative;
  display: block;
}
.body .topic-box .list-box .grid-item .link-item:hover img {
  transform: scale(1.3);
}
.body .topic-box .list-box .grid-item .link-item img {
  width: 250px;
  height: 250px;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
.body .topic-box .list-box .grid-item .link-item .topic-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.body .topic-box .list-box .grid-item .link-item .topic-content .wrap-box {
  position: relative;
  width: 100%;
  height: 100%;
}
.body .topic-box .list-box .grid-item .link-item .topic-content .wrap-box .topic-title {
  font-family: "Microsoft YaHei";
  height: 100px;
  line-height: 100px;
  width: 100%;
  font-size: 25px;
  background: rgba(255, 255, 255, 0);
  color: #fff;
  position: absolute;
  top: 75px;
  left: 0;
  outline: none;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.body .topic-box .list-box .grid-item .link-item .topic-content .wrap-box .topic-title:hover {
  color: #cccccc;
  background: rgba(255, 255, 255, 0.4);
  text-decoration: underline;
}
.body .topic-box .list-box .grid-item .link-item .topic-content .wrap-box .topic-title:hover .top-line {
  width: 100%;
}
.body .topic-box .list-box .grid-item .link-item .topic-content .wrap-box .topic-title:hover .bottom-line {
  width: 100%;
}
.body .topic-box .list-box .grid-item .link-item .topic-content .wrap-box .topic-title .top-line {
  position: absolute;
  left: 0;
  top: 0;
  height: 2px;
  width: 0;
  background-color: #fff;
  -webkit-transition: all ease-in-out 0.4s;
  -moz-transition: all ease-in-out 0.4s;
  -ms-transition: all ease-in-out 0.4s;
  -o-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.body .topic-box .list-box .grid-item .link-item .topic-content .wrap-box .topic-title .bottom-line {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #fff;
  -webkit-transition: all ease-in-out 0.4s;
  -moz-transition: all ease-in-out 0.4s;
  -ms-transition: all ease-in-out 0.4s;
  -o-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.footer {
  background-color: #444;
  height: 190px;
  position: relative;
  z-index: 999;
  margin-top: 60px;
}
.footer-box {
  margin: 0 auto;
  width: 1000px;
}
.footer-box .left-footer {
  float: left;
  margin-top: 32px;
}
.footer-box .left-footer a {
  font-size: 12px;
  color: #777;
  font-family: Arial;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  outline: none;
}
.footer-box .left-footer a:hover {
  color: #ff5e53;
  text-decoration: underline;
}
.footer-box .left-footer h4 {
  color: #ddd;
  font-family: "Microsoft YaHei";
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}
.footer-box .copy-right {
  clear: left;
  color: #aaa;
  font-family: Arial;
}
.footer-box .copy-right .text {
  margin-right: 15px;
}
.friend-links-box {
  float: left;
  height: 120px;
  margin-bottom: 12px;
  overflow: hidden;
  width: 200px;
}
.friend-links-box .url-links {
  overflow: hidden;
}
.friend-links-box .url-links li {
  float: left;
  height: 22px;
  line-height: 22px;
  text-align: left;
  width: 100px;
}
.footer-hot-tags {
  float: left;
  height: 100px;
  margin-left: 30px;
  overflow: hidden;
  width: 280px;
}
.footer-hot-tags .tags-links {
  line-height: 22px;
}
.footer-hot-tags .tags-links i {
  color: #bababa;
  font-family: Arial;
  font-weight: 800;
  margin: 0 4px;
}
.right-footer {
  float: right;
  margin-right: 60px;
  margin-top: 60px;
}
.right-footer a {
  display: inline-block;
  width: 51px;
  height: 55px;
  line-height: 1;
  -webkit-transition: all ease-in-out 0.1s;
  -moz-transition: all ease-in-out 0.1s;
  -ms-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
  outline: none;
}
.right-footer a:hover {
  color: #ff5e53;
}
.right-footer a i {
  font-size: 51px;
}
