// 引入变量less文件
@import "_var";
@import "_utils";

.container {
  width: 100%;
  font-family: "Microsoft YaHei";
}
/* 头部样式 */
.head-box {
  width: 100%;
  height: @headHeight;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255, 0.5);
  z-index: 9999;
  .inner-wrap {
    .marginAuto();
    width: 1000px;
    height: 100%;
  }
  .logo {
    .pullLeft;
    width: 85px;
    height: @logoHeight;
    overflow: hidden;
    padding: (@headHeight - @logoHeight) / 2 0;
    .logo-index {
      display: inline-block;
    }
    img {
      width: 100%;
    }
  }
  .account {
    .pullRight;
    .textRight;
    width: 45px;
    height: @logoHeight;
    padding: (@headHeight - @logoHeight) / 2 0;
    img {
      width: 45px;
      height: 45px;
      cursor: pointer;
    }
  }
  .link-item-wrap {
    .pullLeft;
    margin-left: 10px;
    height: @headHeight;
    .link-item {
      .textCenter;
      line-height: @headHeight;
      width: 100px;
      .transition(.2s);
      a {
        //display: block;
        .transition(.2s);
        color: @whiteColor;
        outline: none;
        &:hover {
          color: @linkHoverColor;
        }
      }
      &:hover {
        background: #ccc;
      }
    }
  }
  .search-box {
    .border-radius(30px);
    .input-shadow(0, 0px, 6px, rgba(255,255,255, 0.4));
    background-color: rgba(255,255,255, 0.4);;
    color: @whiteColor;
    width: 200px;
    height: 35px;
    padding: 0 15px;
    margin: (@headHeight - 35px) / 2;
    .input-wrap {
      margin-right: 30px;
      input {
        border: 0;
        background-color: transparent;
        width: 170px;
        outline: none;
        height: 19px;
        padding: 8px 0;
        color: @fontColor;
        &:-moz-placeholder { color: #fff; }
        &:-ms-input-placeholder { color: #fff; }
        &::-webkit-input-placeholder { color: #fff; }
      }
    }
    .search-btn {
      width: 30px;
      height: 25px;
      padding: 7px 0 0 0;
      position: relative;
      left: 7px;
      button {
        padding: 0;
        width: 100%;
        height: 100%;
        border: 0;
        background: transparent;
        color: #fff;
        outline: none;
        .transition(.2s);
        &:hover {
          color: @fontColor;
        }
      }
    }
  }
}

.banner {
  width: 100%;
  background: #fff url("../img/bg/bg-03.jpg") no-repeat center center;
  padding-top: @headHeight;
  background-size: 100%;
  .inner-wrap {
    .marginAuto;
    width: 1000px;
    height: 490px;
    overflow: hidden;
    position: relative;
    .left-content {
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 10;
      .title-content {
        font-size: 25px;
      }
      .text-decoration {
        height: 1px;
        width: 80px;
        background: url("../img/text-decoration.png") no-repeat left center;
      }
      .player {
        padding-top: 10px;
        padding-left: 2px;
        i {
          .transition(.3s);
          color: #fff;
          font-size: 30px;
          cursor: pointer;
          &:hover {
            color: darken(@whiteColor, 20%);
          }
        }
      }
    }
  }
}

.right-corner {
  width: 1000px;
  height: 370px;
  position: absolute;
  left: 0;
  bottom: 0;
}

#player-audio {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 1;
  padding: 5px;
}


.body {
  .marginAuto;
  width: 1000px;
  .sort-box {
    height: 60px;
    line-height: 60px;
    .sort-by {
      color: @fontColor;
    }
    .classify-by {
      .col-diviver {
        display: inline-block;
        height: 10px;
        width: 2px;
        margin: 0 5px;
        background: #a6a5a5;
      }
      .link-item {
        a {
          outline: none;
          position: relative;
          color: #7e7c7c;
          &:hover {
            color: #eb7a26;
          }
        }
      }
    }
  }

  .topic-box {
    .list-box {
      .grid-item {
        overflow: hidden;
        width: 25%;
        .link-item {
          position: relative;
          display: block;
          &:hover {
            img {
              transform: scale(1.3);
            }
          }
          img {
            width: 250px;
            height: 250px;
            -webkit-transition: all ease-in-out .5s;
            -moz-transition: all ease-in-out .5s;
            -ms-transition: all ease-in-out .5s;
            -o-transition: all ease-in-out .5s;
            transition: all ease-in-out .5s;
          }

          .topic-content {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            .wrap-box {
              position: relative;
              width: 100%;
              height: 100%;
              .topic-title {
                font-family: "Microsoft YaHei";
                height: 100px;
                line-height: 100px;
                width: 100%;
                font-size: 25px;
                background: rgba(255,255,255, 0);
                color: @whiteColor;
                position: absolute;
                top: 75px;
                left: 0;
                outline: none;
                .transition;
                &:hover {
                  color: darken(@whiteColor, 20%);
                  background: rgba(255,255,255, .4);
                  text-decoration: underline;
                  .top-line {
                    width: 100%;
                  }
                  .bottom-line {
                    width: 100%;
                  }
                }
                .top-line {
                  position: absolute;
                  left: 0;
                  top: 0;
                  height: 2px;
                  width: 0;
                  background-color: #fff;
                  .transition(.4s);
                }
                .bottom-line {
                  position: absolute;
                  right: 0;
                  bottom: 0;
                  height: 2px;
                  width: 0;
                  background-color: #fff;
                  .transition(.4s);
                }
              }
            }
          }
        }
      }
    }
  }
}

// footer 样式
.footer {
  background-color: #444;
  height: 190px;
  position: relative;
  z-index: 999;
  margin-top: 60px;
}
.footer-box {
  margin: 0 auto;
  width: 1000px;
  .left-footer {
    float: left;
    margin-top: 32px;
    a {
      font-size: 12px;
      color: #777;
      font-family: Arial;
      .transition(.2s);
      outline: none;
      &:hover {
        color: #ff5e53;
        text-decoration: underline;
      }
    }
    h4 {
      color: #ddd;
      font-family: "Microsoft YaHei";
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 10px;
    }
  }
  .copy-right {
    clear: left;
    color: #aaa;
    font-family: Arial;
    .text {
      margin-right: 15px;
    }
  }
}
.friend-links-box {
  float: left;
  height: 120px;
  margin-bottom: 12px;
  overflow: hidden;
  width: 200px;
  .url-links {
    overflow: hidden;
    li {
      float: left;
      height: 22px;
      line-height: 22px;
      text-align: left;
      width: 100px;

    }
  }
}
.footer-hot-tags {
  float: left;
  height: 100px;
  margin-left: 30px;
  overflow: hidden;
  width: 280px;
  .tags-links {
    line-height: 22px;
    i {
      color: #bababa;
      font-family: Arial;
      font-weight: 800;
      margin: 0 4px;
    }
  }
}
.right-footer {
  float: right;
  margin-right: 60px;
  margin-top: 60px;
  a {
    display: inline-block;
    width: 51px;
    height: 55px;
    line-height: 1;
    .transition(.1s);
    outline: none;
    &:hover {
      color:  #ff5e53;
    }
    i {
      font-size: 51px;
    }
  }
}













