
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-checkcircle:before { content: "\e605"; }
.icon-cancel:before { content: "\e604"; }
.icon-favorite:before { content: "\e628"; }
.icon-favoriteoutline:before { content: "\e627"; }
.icon-settings1:before { content: "\e610"; }
.icon-settings:before { content: "\e60f"; }
.icon-search:before { content: "\e60a"; }
.icon-chazhao:before { content: "\e60f"; }
.icon-iconchazhao:before { content: "\e63a"; }
.icon-v24bofangpress:before { content: "\e64c"; }
.icon-iconfontbofang:before { content: "\e62c"; }
.icon-iconfontbofang1:before { content: "\e754"; }
.icon-iconfontzanting:before { content: "\e685"; }
.icon-iconfontzanting1:before { content: "\e61e"; }
.icon-l2:before { content: "\e608"; }
.icon-l3:before { content: "\e609"; }
.icon-iconnew16:before { content: "\e613"; }
.icon-iconfontdian2:before { content: "\e601"; }
